// Tab bar items
.tab-item
{
  .icon
  {
    margin-top: 10px;

    background-repeat: no-repeat;
    background-size: 28px;

    &.icon-home-off
    {
      background-image: url('../image/tab/home-gray@3x.png');
    }

    &.icon-home-on
    {
      background-image: url('../image/tab/home-red@3x.png');
    }

    &.icon-notification-off
    {
      background-image: url('../image/tab/bell-gray@3x.png');
    }

    &.icon-notification-on
    {
      background-image: url('../image/tab/bell-red@3x.png');
    }

    &.icon-shoutout-off
    {
      background-image: url('../image/tab/shout-gray@3x.png');
    }

    &.icon-shoutout-on
    {
      background-image: url('../image/tab/shout-red@3x.png');
    }

    &.icon-create-off
    {
      background-image: url('../image/tab/close-red@3x.png');
    }

    &.icon-create-on
    {
      background-image: url('../image/tab/creation-gray@3x.png');
    }

    &.icon-inbox-off
    {
      background-image: url('../image/tab/inbox-gray@3x.png');
    }

    &.icon-inbox-on
    {
      background-image: url('../image/tab/inbox-red@3x.png');
    }

    &.icon-profile-off
    {
      background-image: url('../image/tab/user-gray@3x.png');
    }

    &.icon-profile-on
    {
      background-image: url('../image/tab/user-red@3x.png');
    }
  }
}

.icon
{
  width: 28px;
  height: 28px;

  background-repeat: no-repeat;
  background-size: 28px;

  &.icon-chevron
  {
    background-image: url('../image/icon/chevron-gray@3x.png');
    display: inline-block;
    vertical-align: middle !important;
    background-size: 20px;
  }

  &.icon-profile
  {
    background-image: url('../image/icon/user-blue@3x.png');
    display: inline-block;
    vertical-align: middle !important;
  }

  &.icon-notification
  {
    background-image: url('../image/icon/bell-red@3x.png');
    display: inline-block;
    vertical-align: middle !important;
  }

  &.icon-shoutout
  {
    background-image: url('../image/tab/shout-white@3x.png');
    display: inline-block;
    vertical-align: middle !important;
  }

  &.icon-cup
  {
    background-image: url('../image/tab/cup-white@3x.png');
    display: inline-block;
    vertical-align: middle !important;
  }

  &.icon-cup-red
  {
    background-image: url('../image/icon/cup-red@3x.png');
    display: inline-block;
    vertical-align: middle !important;
  }

  &.icon-date-red
  {
    background-image: url('../image/icon/calendar-red@3x.png');
    display: inline-block;
    vertical-align: middle !important;
  }

  &.icon-sex-red
  {
    background-image: url('../image/icon/sex-red@3x.png');
    display: inline-block;
    vertical-align: middle !important;
  }

  &.icon-key
  {
    background-image: url('../image/icon/key-color@3x.png');
    display: inline-block;
    vertical-align: middle !important;
  }

  &.icon-plus-one
  {
    background-image: url('../image/icon/1-green@3x.png');
    display: inline-block;
    vertical-align: middle !important;
  }

  &.icon-star
  {
    background-image: url('../img/icon/star-yellow.png');
    display: inline-block;
    vertical-align: middle !important;
  }

  &.icon-profile-red
  {
    background-image: url('../image/icon/user-red@3x.png');
    display: inline-block;
    vertical-align: middle !important;
  }
}

.premier-icon
{
    width: 40px;
    height: 40px;
}

.short-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// footer
.footer {
  position: absolute;
  bottom: 0px;

  width: 100%;

  .button {
    margin: 0px;
  }
}

// Google map
#map {
  width: 100%;
  height: 100%;
}

// Calendar
.flex-calendar {
  .month {
    background-color: #f1f1f1;

    .label {
      color: $dark;
    }
  }

  .week, .days {
    background-color: transparent;
  }

  .days {
    .day {
      background-color: transparent;
      border: none;

      &.out {
        background-color: transparent;
      }

      &.selected .number {
        background-color: $assertive;
      }

      &.disabled {
        .number {
          background-color: transparent;
          background-image: none;
        }
      }
    }
  }
}

.rzslider {
  .rz-pointer {
    width: 30px;
    height: 30px;
    background-color: #fff;

    -webkit-box-shadow: 0 2px 12px -2px #666;
	   -moz-box-shadow: 0 2px 12px -2px #666;
	        box-shadow: 0 2px 12px -2px #666;

    &:hover:after {
      background-color: transparent;
    }

    &.rz-active:after {
      background-color: transparent;
    }

    &:after {
      background-color: transparent;
    }
  }

  .rz-selection {
    background-color: $assertive;
    height: 2px;
  }

  .rz-bar {
    height: 2px;
  }

}
