<div class="party-list">
  <div class="party-item" ng-repeat="party in parties track by $index" ng-click="goPartyDetail($index)">
    <div class="banner" ng-click="goParty()">
      <img ng-src="{{party.banner}}">
    </div>

    <div class="poster">
      <div class="avatar" ng-click="goChat()">
        <img ng-src="{{party.poster.avatar}}" ng-if="party.poster.avatar">
      </div>

      <div class="name" ng-click="goChat()">
        <span>{{party.poster.name}}</span>
      </div>
    </div>

    <div class="cancel">
      <button class="button button-small button-assertive">AVBRYT</button>
    </div>

    <div class="info">
      <div class="time">
        <img src="image/icon/clock-white@3x.png">
        <div class="span">{{party.time}}</div>
      </div>

      <div class="location">
        <img src="image/icon/pin-white@3x.png">
        <div class="span">{{party.location}}</div>
      </div>

      <div class="description">
        <span>{{party.description}}</span>
      </div>
    </div>

  </div>
</div>
