<ion-view class="editprofile-view">
  <div class="bar bar-header">
    <button class="button button-clear button-assertive icon ion-arrow-left-c" ng-click="$ionicGoBack()"></button>
    <h1 class="title">Rediger profil</h1>
    <button class="button button-clear button-assertive" ng-click="saveProfile(); $ionicGoBack();">Ferdig</button>
  </div>

  <ion-content scroll="true" class="has-header">
    <div class="account">
      <div class="name">
        <p>{{account.name}}</p>
      </div>
      <div class="avatar">
        <img ng-src="{{account.avatar}}">
      </div>
      <div class="edit-avatar">
        <button class="button button-clear button-assertive">Endre profibilde</button>
      </div>
    </div>
    <div class="list">
      <label class="item item-input">
        <i class="icon icon-profile-red"></i>
        <input type="text" value="Role Model">
      </label>

      <label class="item">
        <i class="icon icon-date-red"></i>
        <span class="">2017-05-20</span>
      </label>

      <label class="item">
        <i class="icon icon-sex-red"></i>
        <span class="">Male</span>
      </label>
    </div>
  </ion-content>
</ion-view>
