.filter-view {

  .filter-item {
    padding-left: 5px;

    .title {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0px;
      padding-right: 10px;

      color: $title-text-gray;
      font-weight: 500;

      background-repeat: no-repeat;
      background-position: left center;

      &.sex-gray {
        background-image: url('../image/icon/sex-gray@3x.png');
        background-size: 18px;
      }
    }

    .content {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 10px;

      .range-label {
        text-align: center;
        color: $value-text-blue;
      }

      .range input {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }

  // Calendar
  .brightness {-webkit-filter: brightness(0.25); filter: brightness(0.25);}

  .flex-calendar {
      .month {
        background-color: #f1f1f1;

        .label {
          color: $dark;
        }
      }

      .week, .days {
        background-color: transparent;
      }

      .days {
        .day {
          background-color: transparent;
          border: none;

          &.out {
            background-color: transparent;
          }

          &.selected .number {
            background-color: $assertive;
          }

          &.disabled {
            .number {
              background-color: transparent;
              background-image: none;
            }
          }
        }
      }
    }

}
