// login
$login-bg: $assertive;
$login-color: $light;
$login-create-account-bg: $balanced;
$login-create-account-color: $light;
$login-facebook-sign-in-color: $light;
$login-facebook-sign-in-bg: #3392ff;
