<ion-modal-view class="party-create">
  <ion-header-bar>
    <h1 class="title">Fest</h1>
    <div class="buttons">
      <button class="button button-clear button-assertive" ng-click="publish()">Publiser</button>
    </div>
  </ion-header-bar>

  <ion-content scroll="true" class="has-header" padding="true">
    <div class="banner" ng-click="editBanner()">
      <img ng-src="{{party.banner}}">
    </div>

    <div class="info-item">
      <div class="item-header party">
        <span class="title">Tittel</span>
      </div>
      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="" ng-model="party.title">
        </label>
      </div>
    </div>

    <div class="info-item">
      <div class="item-header hammer">
        <span class="title">Husregler</span>
      </div>
      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <textarea placeholder="" ng-model="party.condition"></textarea>
        </label>
      </div>
    </div>

    <div class="info-item">
      <div class="item-header sex-gray">
        <span class="title">Kjonn</span>
      </div>
      <div class="button-bar">
        <button class="button button-small button-assertive" ng-class="{'button-outline' : filter.sex != 0}" ng-click="setSex(0)">Jenter</button>
        <button class="button button-small button-assertive" ng-class="{'button-outline' : filter.sex != 1}" ng-click="setSex(1)">Gutter</button>
        <button class="button button-small button-assertive" ng-class="{'button-outline' : filter.sex != 2}" ng-click="setSex(2)">Begge</button>
      </div>
    </div>

    <div class="info-item">
      <div class="item-header geo-gray">
        <span class="title">Plass</span>
      </div>
      <div class="map">
        <div id="map" data-tap-disabled="true"></div>
      </div>
    </div>

    <div class="filter-item">
      <div class="title">
        <span>Alder</span>
      </div>
      <div class="content">
        <div class="range-label">{{filter.ageFrom}} - {{filter.ageTo}} ar</div>
        <div class="range">
          <rzslider
            rz-slider-model="filter.ageFrom"
            rz-slider-high="filter.ageTo"
            rz-slider-options="{floor: 1, ceil: 80, hidePointerLabels: true, hideLimitLabels: true, noSwitching: true}">
          </rzslider>
        </div>
      </div>
    </div>

    <div class="filter-item">
      <div class="title">
        <span>Tid</span>
      </div>
      <div class="content">
        <div class="range-label" ng-if="filter.timeDir">{{getTimeString(filter.timeFrom)}} - {{getTimeString(filter.timeTo)}}</div>
        <div class="range-label" ng-if="!filter.timeDir">{{getTimeString(filter.timeTo)}} - {{getTimeString(filter.timeFrom)}}</div>
        <div class="range">
          <rzslider
            rz-slider-model="filter.timeFrom"
            rz-slider-high="filter.timeTo"
            rz-slider-options="optionsForTimeSlide">
          </rzslider>
        </div>
      </div>
    </div>

    <div class="filter-item">
      <div class="title">
        <span>Dato</span>
      </div>
      <div class="content">
        <div class="calendar">
            <flex-calendar options="options" events="events"></flex-calendar>
        </div>
      </div>
    </div>

    <button class="button button-full button-assertive" ng-click="publish()">PUBLISER</button>
  </ion-content>

</ion-modal-view>
