<ion-modal-view class="shoutout-create">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-assertive" ng-click="publish()">Lukk</button>
    </div>
    <h1 class="title">Ny shoutout</h1>
    <div class="buttons">
      <button class="button button-clear button-assertive" ng-click="publish()">send</button>
    </div>
  </ion-header-bar>
  
  <ion-content scroll="true" class="has-header">
    <textarea rows="30">Lag en ny shoutout til alle i Stavanger!</textarea>
  </ion-content>
</ion-modal-view>