<ion-view class="contact-view">
  <div class="bar bar-header">
    <button class="button button-clear button-light icon ion-arrow-left-c" ng-click="$ionicGoBack()"></button>
  </div>
  <ion-content scroll="false" class="has-header">
    <div class="top-content row">
      <div class="app-copy col col-center">
        <img class="app-logo" src="image/logo/partyon-logo.png">
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-top">
        <h2>+1234567890</h2>
        <p>partyon@gmail.com</p>
      </div>
    </div>
  </ion-content>
</ion-view>
