<ion-view class="policy-view">
  <div class="bar bar-header">
    <button class="button button-clear button-assertive icon ion-arrow-left-c" ng-click="$ionicGoBack()"></button>
    <h1 class="title">Terms of Use</h1>
  </div>
  <ion-content scroll="true" class="has-header" padding="true">

    <h2>Terms of Use</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue nibh eu risus pretium interdum.
    </p>

    <h2>
      Privacy Policy</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue nibh eu risus pretium interdum.
    </p>
  </ion-content>
</ion-view>
