<ion-view class="profile-view">
  <div class="bar bar-header">
    <h1 class="title">Meg</h1>
  </div>

  <ion-content scroll="true" class="has-header">
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#app/myprofile">
        <i class="icon icon-profile"></i>
        Min profil
        <i class="icon icon-chevron"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#app/notification">
        <i class="icon icon-notification"></i>
        Varsler
        <i class="icon icon-chevron"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#app/myparty">
        <i class="icon icon-cup-red"></i>
        Mine fester
        <i class="icon icon-chevron"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/participation">
        <i class="icon icon-key"></i>
        Mine deltagelser
        <i class="icon icon-chevron"></i>
      </a>

<!--
      <a class="item item-icon-left item-icon-right" href="#/app/club">
        <i class="icon "></i>
        Club
        <i class="icon icon-chevron"></i>
      </a>
-->
<!--
      <a class="item item-icon-left item-icon-right" href="#/app/contact">
        <i class="icon "></i>
        Contacts
        <i class="icon icon-chevron"></i>
      </a>
-->
      <a class="item item-icon-left item-icon-right" href="#/app/faq">
        <i class="icon ion-help-circled" style="margin-top: 0px; color: #54C7FC"></i>
        FAQ
        <i class="icon icon-chevron"></i>
      </a>

      <a class="item item-icon-left item-icon-right" xhref="#/app/share" ng-click="share();">
        <i class="icon ion-share" style="margin-top: 0px;"></i>
        Share
        <i class="icon icon-chevron"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/contact">
        <i class="icon ion-email" style="margin-top: 0px;"></i>
        Contact
        <i class="icon icon-chevron"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/policy">
        <i class="icon ion-information-circled" style="margin-top: 0px; color: #FFBA00"></i>
        Privacy policy & Term of use
        <i class="icon icon-chevron"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
