<ion-view class="profile-view">
  <div class="bar bar-header">
    <h1 class="title">Meg</h1>
  </div>

  <ion-content scroll="true" class="has-header">
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#app/myprofile">
        <i class="icon icon-profile"></i>
        Min profil
        <i class="icon icon-chevron"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#app/notification">
        <i class="icon icon-notification"></i>
        Varsler
        <i class="icon icon-chevron"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#app/myparty">
        <i class="icon icon-cup-red"></i>
        Min fest
        <i class="icon icon-chevron"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/participation">
        <i class="icon icon-key"></i>
        Mine deltagelser
        <i class="icon icon-chevron"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/premier">
        <i class="icon icon-star"></i>
        Mine premier
        <i class="icon icon-chevron"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
