<ion-view class="filter-view">
  <div class="bar bar-header">
    <button class="button button-clear button-assertive icon ion-arrow-left-c" ng-click="$ionicGoBack()"></button>
    <h1 class="title">Filter</h1>
    <button class="button button-clear button-assertive">Vis treff</button>
  </div>

  <ion-content scroll="true" class="has-header" padding="true">

    <div class="filter-item">
      <div class="title sex-gray" style="padding-left: 20px;">
        <span>Jeg vil feste med</span>
      </div>
      <div class="content">
        <div class="button-bar">
          <button class="button button-small button-assertive" ng-class="{'button-outline' : filter.sex != 0}" ng-click="setSex(0)">Jenter</button>
          <button class="button button-small button-assertive" ng-class="{'button-outline' : filter.sex != 1}" ng-click="setSex(1)">Gutter</button>
          <button class="button button-small button-assertive" ng-class="{'button-outline' : filter.sex != 2}" ng-click="setSex(2)">Begge</button>
        </div>
      </div>
    </div>

    <div class="filter-item">
      <div class="title">
        <span>Alder</span>
      </div>
      <div class="content">
        <div class="range-label">{{filter.ageFrom}} - {{filter.ageTo}} ar</div>
        <div class="range">
          <rzslider
            rz-slider-model="filter.ageFrom"
            rz-slider-high="filter.ageTo"
            rz-slider-options="{floor: 1, ceil: 80, hidePointerLabels: true, hideLimitLabels: true, noSwitching: true}">
          </rzslider>
        </div>
      </div>
    </div>

    <div class="filter-item">
      <div class="title">
        <span>Avstand</span>
      </div>
      <div class="content">
        <div class=range-label>
          <div class="range-label">{{filter.distance}} km</div>
        </div>
        <div class="range">
          <rzslider rz-slider-model="filter.distance" rz-slider-options="{floor: 0, ceil: 100, showSelectionBar: true, hidePointerLabels: true, hideLimitLabels: true}"></rzslider>
        </div>
      </div>
    </div>

    <div class="filter-item">
      <div class="title">
        <span>Tid</span>
      </div>
      <div class="content">
        <div class="range-label" ng-if="filter.timeDir">{{getTimeString(filter.timeFrom)}} - {{getTimeString(filter.timeTo)}}</div>
        <div class="range-label" ng-if="!filter.timeDir">{{getTimeString(filter.timeTo)}} - {{getTimeString(filter.timeFrom)}}</div>
        <div class="range">
          <rzslider
            rz-slider-model="filter.timeFrom"
            rz-slider-high="filter.timeTo"
            rz-slider-options="optionsForTimeSlide">
          </rzslider>
        </div>
      </div>
    </div>

    <div class="filter-item">
      <div class="title">
        <span>Dato</span>
      </div>
      <div class="content">
        <div class="calendar">
            <flex-calendar options="options" events="events"></flex-calendar>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
